<h3>Manage Internship Companies</h3>

<p><%= link_to('Add Internship Company', new_internship_company_path, class: "btn btn-primary") %></p>

<table class="table table-bordered table-responsive">
  <thead class="table-primary">
    <tr>
			<th>Name</th>
      <th>Address</th>
			<th>Postal Code</th>
			<th>Actions</th>
    </tr>
  </thead>
  <tbody class="bg-white">
        <% @internship_company.each do |internship_company| %>
          <tr id="internship-company-<%= internship_company.id %>">
            <td><%= internship_company.name %></td>
            <td><%= internship_company.address %></td>
            <td><%= internship_company.postal_code %></td>
            <td>
              <%= link_to 'Show', internship_company_path(internship_company), class: "show_internship_company btn btn-primary" %>
              <%= link_to 'Edit', edit_internship_company_path(internship_company), class: "edit_internship_company btn btn-primary" %>
              <%= link_to 'Delete', internship_company_path(internship_company), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete_internship_company btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
</table>