<h3>Manage Students</h3>

<p><%= link_to('Add Student', new_student_path, class: "btn btn-primary") %></p>

<table class="table table-bordered table-responsive">
  <thead class="table-primary">
    <tr>
      <th>Admission Year</th>
      <th>Admission No.</th>
      <th>Date of Registration</th>
      <th>Class</th>
      <th>Status</th>
      <th>Referred By</th>
      <th>Name of Referee</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="bg-white">
    <% @students.each do |student| %>
      <tr id="student-<%= student.id %>">
        <td><%= student.admission_year %></td>
        <td><%= student.admission_no %></td>
        <td><%= student.registered_at %></td>
        <td><%= student.current_class %></td>
        <td><%= student.status %></td>
        <td><%= student.referred_by %></td>
        <td><%= student.referral_notes %></td>
        <td>
          <%= link_to 'Edit', edit_student_path(student), class: "edit_student btn btn-primary" %>
          <%= link_to 'Delete', student_path(student), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete_student btn btn-danger" %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
