<h3 class="text-center mt-5 mb-4">Manage Students</h3>

<div class="container mb-3">
  <div class="form-row justify-content-center">
    <%= form_tag(students_path, :method => "get", remote: true, id: "search-cohort-class", class: 'form-group row justify-content-center') do %>
    <%= select_tag :academic_year, options_for_select(@cohorts, params[:academic_year]), prompt: "Select Academic Year", class: 'custom-select mb-2 mr-2 mb-sm-0' %>
    <%= select_tag :class_name, options_for_select(@class_names, params[:class_name]), prompt: "Select Class", class: 'custom-select mb-2 mr-sm-2 mb-sm-0' %>
    <%= submit_tag "Search by Academic Year or Class", class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div class="form-row justify-content-center">
    <%= form_tag(students_path, :method => "get", id: "search-name", class: 'form-inline') do %>
    <%= text_field_tag :search, params[:search], placeholder: "Student Name", class: 'form-control mb-2 mr-2 mb-sm-0' %>
    <%= submit_tag "Search by Name", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<table class="table table-bordered table-sm">
  <thead class="table-primary">
    <tr>
      <th>Academic Year</th>
      <th>Class</th>
      <th>Given Name</th>
      <th>Surname</th>
      <th>Date of Birth</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Disability</th>
      <th>Medical Condition</th>
      <th>Main Contact</th>
      <th>Status</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody class="bg-white student-list">
    <%= render :partial => 'students/shared/student_list' %>
  </tbody>
</table>
<p><%= link_to("Download CSV", students_path(csv_download_options(params)), class: "btn btn-primary btn-sm",) %></p>
