  <div class="container">

  <div class="row">
    <div class="col-12">
      <div class="card bg-light mb-3">
        <div class="card-body">
          <div class="card-img-left mr-3 float-left">
            <%= cl_image_tag(@student.image_id, :crop => 'fill', :width => 150, :height => 150) %>
          </div>
          <ul class="list-inline h1">
            <li class="list-inline-item display-4" data-for="given_name"><%= @student.given_name %></li>
            <li class="list-inline-item display-4" data-for="surname"><u><%= @student.surname %></u></li>
            <li class="list-inline-item small text-muted" data-for="admission_no"><%= @student.admission_no %></li>
            <li class="list-inline-item small text-muted" data-for="current_class"><%= @student.current_class.try(:name) %></li>
          </ul>
          <ul class="list-inline">
            <li class="list-inline-item" data-for="gender"><%= @student.gender.titlecase %></li>
            <li class="list-inline-item" data-for="age"><%= @student.age %> years old</li>
            <li class="list-inline-item" data-for="disabilities"><%= @student.disabilities.map(&:title).join(', ') %></li>
          </ul>
          <%= link_to 'Edit Student', edit_student_path(@student), class: "edit_student btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card bg-light mb-3">
      <h4 class="card-header">Student Particulars</h4>
      <div class="card-body">
        <dl class="row">
          <dt class="col-5">Given Name</dt>
          <dd class="col-7" data-for="given_name"><%= @student.given_name %></dd>

          <dt class="col-5">Surname</dt>
          <dd class="col-7" data-for="surname"><%= @student.surname %></dd>

          <dt class="col-5">Date of Birth</dt>
          <dd class="col-7" data-for="date_of_birth"><%= @student.date_of_birth %></dd>

          <dt class="col-5">Place of Birth</dt>
          <dd class="col-7" data-for="place_of_birth"><%= @student.place_of_birth %></dd>

          <dt class="col-5">Race</dt>
          <dd class="col-7" data-for="race"><%= @student.race %></dd>

          <dt class="col-5">NRIC</dt>
          <dd class="col-7" data-for="nric"><%= @student.nric %></dd>

          <dt class="col-5">Citizenship</dt>
          <dd class="col-7" data-for="citizenship"><%= @student.citizenship %></dd>

          <dt class="col-5">Gender</dt>
          <dd class="col-7" data-for="gender"><%= @student.gender.titlecase %></dd>

          <% if @student.home_number && !@student.home_number.empty? %>
            <dt class="col-5">Home Number</dt>
            <dd class="col-7" data-for="home_number"><%= @student.home_number %></dd>
          <% end %>

          <% if @student.mobile_number && !@student.mobile_number.empty? %>
            <dt class="col-5">Mobile Number</dt>
            <dd class="col-7" data-for="mobile_number"><%= @student.mobile_number %></dd>
          <% end %>

          <% if @student.address && !@student.address.empty? %>
            <dt class="col-5">Address</dt>
            <dd class="col-7" data-for="address"><%= @student.address %></dd>
          <% end %>

          <% if @student.postal_code && !@student.postal_code.empty? %>
            <dt class="col-5">Postal Code</dt>
            <dd class="col-7" data-for="postal_code"><%= @student.postal_code %></dd>
          <% end %>

          <dt class="col-5">T-shirt Size</dt>
          <dd class="col-7" data-for="tshirt_size"><%= @student.tshirt_size %></dd>

          <dt class="col-5">Age</dt>
          <dd class="col-7" data-for="age"><%= @student.age %></dd>

          <dt class="col-5">SADeaf Client Registration No.</dt>
          <dd class="col-7" data-for="sadeaf_client_reg_no"><%= @student.sadeaf_client_reg_no %></dd>

          <dt class="col-5">Disabilities</dt>
          <dd class="col-7" data-for="disabilities"><%= @student.disabilities.map(&:title).join(", ") %></dd>

          <dt class="col-5">Medical Conditions</dt>
          <dd class="col-7" data-for="medical_conditions"><%= @student.medical_conditions.map(&:title).join(", ") %></dd>

          <dt class="col-5">Allergies</dt>
          <dd class="col-7" data-for="allergies"><%= @student.allergies %></dd>

          <dt class="col-5">Medication Needed</dt>
          <dd class="col-7" data-for="medication_needed"><%= @student.medication_needed %></dd>
        </dl>
      </div>
    </div>

    <div class="card bg-light mb-3">
      <h4 class="card-header">Admission Details</h4>
      <div class="card-body">
        <dl class="row">
          <dt class="col-5">Admission Year</dt>
          <dd class="col-7" data-for="admission_year"><%= @student.admission_year %></dd>

          <dt class="col-5">Admission No.</dt>
          <dd class="col-7" data-for="admission_no"><%= @student.admission_no %></dd>

          <dt class="col-5">Date of Registration</dt>
          <dd class="col-7" data-for="registered_at"><%= @student.registered_at %></dd>

          <dt class="col-5">Referred By</dt>
          <dd class="col-7" data-for="referred_by"><%= @student.referred_by&.titlecase %></dd>

          <dt class="col-5">Name of Referee</dt>
          <dd class="col-7" data-for="referral_notes"><%= @student.referral_notes %></dd>
        </dl>
      </div>

      <h4 class="card-header">Status Changes <span class="badge badge-warning float-right">
        Current Status: <%= @student.status %></span></h4>
      <div class="card-body">
        <table class="table table-sm status-changes">
          <thead>
            <tr>
              <th>Modified by</th>
              <th>Status</th>
              <th>Modified on</th>
            </tr>
          </thead>
          <tbody>
            <% @status_versions.each do |version| %>
            <tr id="version-<%= version[:id] %>">
              <td data-for="status_change_name"><%= version[:modified_by] %></td>
              <td data-for="status_change">From <%= version[:from] %> to <%= version[:to] %></td>
              <td data-for="status_change_date"><%= version[:created_at] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card bg-light mb-3">
      <h4 class="card-header">Attachment Details</h4>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr class="d-flex">
              <th class="col-3">Document Type</th>
              <th class="col-3">Filename</th>
              <th class="col-6">Notes</th>
            </tr>
          </thead>
          <tbody>
            <% @student.attachments.each do |attachment_record| %>
            <tr id="attachment_record-<%= attachment_record.id %>" class="d-flex">
              <td class="col-3" data-for="document_type"><%= Attachment.document_types[attachment_record.document_type] %></td>
              <td class="col-3" data-for="filename"><%= link_to attachment_record.filename.file.file_data.first.name, attachment_record.filename.try(:url) %></td>
              <td class="col-6" data-for="notes"><%= attachment_record.notes %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card bg-light mb-3">
      <h4 class="card-header">Past Education Records</h4>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>School Attended</th>
              <th>From Date</th>
              <th>To Date</th>
              <th>Qualification</th>
              <th>Highest Qualification</th>
            </tr>
          </thead>
          <tbody>
            <% @student.past_education_records.each do |record| %>
            <tr id="record-<%= record.id %>">
              <td data-for="school_name"><%= record.school_name %></td>
              <td data-for="from_date"><%= record.from_date %></td>
              <td data-for="to_date"><%= record.to_date %></td>
              <td data-for="qualification"><%= record.qualification %></td>
              <td data-for="highest_qualification">
                <% if record.highest_qualification %>
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <% @student.point_of_contacts.each do |contact| %>
    <div class="card bg-light mb-3">
      <h4 class="card-header">Parent/Guardian Particulars <span class="badge badge-warning float-right"><%= contact.relationship %></span></h4>
      <div class="card-body">

        <dl class="row" id="contact-<%= contact.id %>">
          <dt class="col-5">Full Name</dt>
          <dd class="col-7" data-for="home_number"><%= contact.salutation %> <%= contact.given_name %> <u><%= contact.surname %></u></dd>

          <dt class="col-5">Home Number</dt>
          <dd class="col-7" data-for="home_number"><%= contact.home_number %></dd>

          <dt class="col-5">Mobile Phone</dt>
          <dd class="col-7" data-for="handphone_number"><%= contact.handphone_number %></dd>

          <dt class="col-5">Office Number</dt>
          <dd class="col-7" data-for="office_number"><%= contact.office_number %></dd>

          <dt class="col-5">Email Address</dt>
          <dd class="col-7" data-for="email"><%= contact.email %></dd>

          <dt class="col-5">Address</dt>
          <dd class="col-7" data-for="address"><%= contact.address %></dd>

          <dt class="col-5">Postal Code</dt>
          <dd class="col-7" data-for="postal_code"><%= contact.postal_code %></dd>

          <dt class="col-5">Race</dt>
          <dd class="col-7" data-for="race"><%= contact.race %></dd>

          <dt class="col-5">Dialect</dt>
          <dd class="col-7" data-for="dialect"><%= contact.dialect %></dd>

          <dt class="col-5">Languages Spoken</dt>
          <dd class="col-7" data-for="languages_spoken"><%= contact.languages_spoken %></dd>

          <dt class="col-5">ID Number</dt>
          <dd class="col-7" data-for="id_number"><%= contact.id_number %></dd>

          <dt class="col-5">ID Type</dt>
          <dd class="col-7" data-for="id_type"><%= contact.id_type %></dd>

          <dt class="col-5">Date of Birth</dt>
          <dd class="col-7" data-for="date_of_birth"><%= contact.date_of_birth %></dd>

          <dt class="col-5">Place of Birth</dt>
          <dd class="col-7" data-for="place_of_birth"><%= contact.place_of_birth %></dd>

          <dt class="col-5">Nationality</dt>
          <dd class="col-7" data-for="nationality"><%= contact.nationality %></dd>

          <dt class="col-5">Occupation</dt>
          <dd class="col-7" data-for="occupation"><%= contact.occupation %></dd>

        </dl>
      </div>
    </div>
    <% end %>
  </div>

  <div class="card-deck">
      <div class="card bg-light mb-3">
        <h4 class="card-header">Financial Assistance</h4>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr class="d-flex">
                <th class="col-3">Type</th>
                <th class="col-3">Year Obtained</th>
                <th class="col-6">Duration</th>
              </tr>
            </thead>
            <tbody>
              <% @student.financial_assistance_records.each do |financial_assistance_record| %>
              <tr id="financial_assistance_record-<%= financial_assistance_record.id %>" class="d-flex">
                <td class="col-3" data-for="assistance_type"><%= financial_assistance_record.assistance_type %></td>
                <td class="col-3" data-for="year_obtained"><%= financial_assistance_record.year_obtained %></td>
                <td class="col-6" data-for="duration"><%= financial_assistance_record.duration %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card-deck">
      <div class="card bg-light mb-3">
        <h4 class="card-header">Internship Records</h4>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr class="d-flex">
                <th class="col-2">Internship Company</th>
                <th class="col-2">Internship Supervisor</th>
                <th class="col-1">From Date</th>
                <th class="col-1">To Date</th>
                <th class="col-6">Comments</th>
              </tr>
            </thead>
            <tbody>
              <% @student.internship_records.each do |internship_record| %>
              <tr id="internship_record-<%= internship_record.id %>" class="d-flex">
                <td class="col-2" data-for="event_date"><%= internship_record.internship_company.name %></td>
                <td class="col-2" data-for="category"><%= internship_record.internship_supervisor.name %></td>
                <td class="col-1" data-for="details"><%= internship_record.from_date %></td>
                <td class="col-1" data-for="user"><%= internship_record.to_date %></td>
                <td class="col-6" data-for="user"><%= internship_record.comments %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card-deck">
      <div class="card bg-light mb-3">
        <h4 class="card-header">Remarks</h4>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr class="d-flex">
                <th class="col-2">Event Date</th>
                <th class="col-2">Category</th>
                <th class="col-6">Details</th>
                <th class="col-2">Added By</th>
              </tr>
            </thead>
            <tbody>
              <% @student.remarks.each do |remark| %>
              <tr id="remark-<%= remark.id %>" class="d-flex">
                <td class="col-2" data-for="event_date"><%= remark.event_date %></td>
                <td class="col-2" data-for="category"><%= remark.category %></td>
                <td class="col-6" data-for="details"><%= remark.details %></td>
                <td class="col-2" data-for="user"><%= remark.user.name %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

</div>
