<h3>Manage Classes</h3>

<p><%= link_to('Add Class', new_admin_school_class_path, class: "btn btn-primary") %></p>

<table class="table table-bordered table-responsive">
  <thead class="table-primary">
    <tr>
      <th>Academic Year</th>
      <th>Name</th>
      <th>Year</th>
      <th>Form Teacher</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="bg-white">
  <% @school_classes.each do |school_class| %>
      <tr id="class-<%= school_class.id %>">
        <td><%= school_class.academic_year %></td>
        <td><%= school_class.name %></td>
        <td><%= school_class.year %></td>
        <td><%= school_class.form_teacher.name %></td>
        <td>
          <%= link_to 'Edit', edit_admin_school_class_path(school_class), class: "edit_school_class btn btn-primary" %>
          <%= link_to 'Delete', admin_school_class_path(school_class), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete_school_class btn btn-danger" %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
