  <h1 class="display-4 mt-5"><%= @resource.display_name %>, <%= @resource.form_teacher.name %> (Form Teacher)</h1>
  <div class="row">
    <div class="col-9">
      <h3 class="pt-4 pb-1">Students Assigned List</h3>
    </div>
    <div class="col-3 pt-3 pb-2 text-right">
      <%= link_to '<i class="fa fa-pencil"></i> Edit Class'.html_safe, edit_admin_school_class_path(@resource), class: "edit_school_class btn btn-primary" %>
      <%= link_to '<i class="fa fa-trash"></i> Delete Class'.html_safe, admin_school_class_path(@resource), method: :delete, data: {confirm: 'Are you sure?'}, class: "delete_school_class btn btn-danger" %>
    </div>
  </div>

  <table class="table table-bordered table-sm" data-for="students">
    <thead class="table-primary">
      <tr>
        <th>Academic Year</th>
        <th>Class</th>
        <th>Full Name</th>
        <th>Date of Birth</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Disability</th>
        <th>Medical Condition</th>
        <th>Main Contact</th>
        <th>Status</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <% @resource.students.sorted.each do |student| %>
        <tr id="student-<%= student.id %>">
          <% if params[:academic_year].present?
            student_academic_year = student.class_for_year(params[:academic_year]).academic_year
            student_class_name = student.class_for_year(params[:academic_year]).name
          else
            student_academic_year = student.current_class.try(:academic_year)
            student_class_name = student.current_class.try(:name)
          end %>
          <td data-for="academic_year"><%= student_academic_year %></td>
          <td data-for="class"><%= student_class_name %></td>
          <td data-for="full_name"><%= link_to "#{student.full_name}", student_path(student) %></td>
          <td data-for="date_of_birth"><%= student.date_of_birth %></td>
          <td data-for="age"><%= student.age %></td>
          <td data-for="gender"><%= student.gender.titlecase %></td>
          <td data-for="disabilities"><%= student.disabilities.order('title').pluck('title').first %></td>
          <td data-for="medical_conditions"><%= student.medical_conditions.order('title').pluck('title').first %></td>
          <td data-for="main_contact"><%= student.point_of_contacts.map(&:contact_full_name).first %></td>
          <td data-for="status"><%= student.status.titlecase %></td>
          <td data-for="view" class="text-center collapsed" data-toggle="collapse" data-target="#student-details-<%= student.id %>"><i class="fa fa-plus"></td>
        </tr>
        <tr>
        <td colspan="100%" class="table-active p-0">
          <div class="collapse" id="student-details-<%= student.id %>">
            <div class="row p-2">
              <div class="col-3">
                <dl class="row">
                  <dt class="col-4">Disabilities</dt>
                  <dd class="col-8" data-for="disabilities"><%= student.disabilities.map{|d| d.title }.join(', ') %></dd>

                  <dt class="col-4">Medical Conditions</dt>
                  <dd class="col-8" data-for="medical_conditions"><%= student.medical_conditions.map{|d| d.title }.join(', ') %></dd>
                </dl>
              </div>

              <div class="col-3">
                <dl class="row">
                  <dt class="col-4">Medication</dt>
                  <dd class="col-8" data-for="medication_needed"><%= student.medication_needed %></dd>

                  <dt class="col-4">Allergies</dt>
                  <dd class="col-8" data-for="allergies"><%= student.allergies %></dd>
                </dl>
              </div>

              <div class="col-3">
                <dl class="row">
                  <dt class="col-4">Relationship</dt>
                  <dd class="col-8" data-for="relationship"><%= student.point_of_contacts.pluck(:relationship).first %></dd>

                  <dt class="col-4">Mobile</dt>
                  <dd class="col-8" data-for="handphone_number"><%= student.point_of_contacts.pluck(:handphone_number).first %></dd>

                  <dt class="col-4">Home</dt>
                  <dd class="col-8" data-for="home_number"><%= student.point_of_contacts.pluck(:home_number).first %></dd>

                  <dt class="col-4">Office</dt>
                  <dd class="col-8" data-for="office_number"><%= student.point_of_contacts.pluck(:office_number).first %></dd>
                </dl>
              </div>

              <div class="col-3 text-right">
                  <%= link_to '<i class="fa fa-pencil"></i> Edit Student'.html_safe, edit_student_path(student), class: "edit_student btn btn-primary" %>
                  <%= link_to '<i class="fa fa-trash"></i> Delete Student'.html_safe, student_path(student), method: :delete, class: "delete_student btn btn-danger",
                  data: {confirm:
  'Should you proceed to delete, you will lose the entire record of the student. This action is not reversible.
  Please confirm that you would like to delete by clicking OK.'} %>
                </dl>
              </div>

            </div>
          </div>
        </td>
      </tr>

    <% end %>
    </tbody>
  </table>
