<div class="container">
  <div class="row">
    <div class="col-3">
      <h3><%= @resource.name %></h3>
    </div>
    <div class="col-9 text-right">
      <%= link_to 'Edit', edit_admin_school_class_path(@resource), class: "edit_school_class btn btn-primary" %>
      <%= link_to 'Delete', admin_school_class_path(@resource), method: :delete, data: {confirm: 'Are you sure?'}, class: "delete_school_class btn btn-danger" %>
    </div>
  </div>

  <h4>Class Details</h4>
  <dl class="row">
    <dt class="col-3">Academic Year</dt>
    <dd class="col-9" data-for="academic_year"><%= @resource.academic_year %></dd>

    <dt class="col-3">Year</dt>
    <dd class="col-9" data-for="year"><%= @resource.year %></dd>

    <dt class="col-3">Form Teacher</dt>
    <dd class="col-9" data-for="form_teacher"><%= @resource.form_teacher.name %></dd>
  </dl>
</div>
