<h3>Manage Internship Supervisors</h3>

<p><%= link_to('Add Supervisor', new_internship_supervisor_path, class: "btn btn-primary") %></p>

    <table class="table table-bordered table-responsive">
      <thead class="table-primary">
        <tr>
          <th>Supervisor Name</th>
          <th>Email</th>
          <th>Contact Number</th>
          <th>Internship Company Id</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <% @internship_supervisors.each do |supervisor| %>
          <tr id="supervisor-<%= supervisor.id %>" > 
            <td><%= supervisor.name %></td>
            <td><%= supervisor.email %></td>
            <td><%= supervisor.contact_number %></td>
            <td><%= supervisor.internship_company.name %></td>
            <td>    
              <%= link_to 'Edit', edit_internship_supervisor_path(supervisor), class: "edit_supervisor btn btn-primary" %>
              <%= link_to 'Delete', internship_supervisor_path(supervisor), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete_user btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
