<div class="container">
  <div class="row justify-content-end mt-5 mb-4">
    <div class="col-6 offset-md-3">
      <h3 class="text-center">Manage Roles</h3>
    </div>
    <div class="col-3 text-right">
      <%= link_to '<i class="fa fa-plus"></i> Add Role'.html_safe, new_admin_role_path, class: "btn btn-primary" %>
    </div>
  </div>

<table class="table table-bordered">
  <thead class="table-primary">
    <tr>
      <th>Role</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="bg-white">
  <% @resources.each do |role| %>
    <tr id="role-<%= role.id %>">
      <td><%= link_to "#{role.name}", edit_admin_role_path(role), class: 'edit_role' %></td>
      <td><%= role.created_at %></td>
      <td>
        <%= link_to 'Delete', admin_role_path(role), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete_role btn btn-danger" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
