<tr class="nested-fields">
  <td data-for="document_type"><%= f.select :document_type, Attachment.document_types.to_a.map{|v| v.reverse}, {prompt: 'Select Document Type'}, class: 'form-control form-control-sm' %></td>
  <!-- <td data-for="filename"><%= file_field_tag "file" %></td> -->
  <td data-for="notes"><%= f.text_field :notes, class: 'form-control form-control-sm' %></td>
  <td data-for="filename" class="position-relative"><span class="btn btn-sm btn-success file-upload-button">
                                                    <i class="fa fa-plus"></i> Browse File<%= f.file_field :filename %></span></td>
  <td><%= link_to_remove_association "Delete File", f, class: 'delete_attachment btn btn-danger btn-sm',
  data: {confirm:
'Should you proceed to delete, you will lose this document of the student. This action is not reversible.
Please confirm that you would like to delete by clicking OK.'}%></td>
</tr>
