<tr class="nested-fields">
  <td data-for="type"><%= f.text_field :type, class: 'form-control form-control-sm' %></td>
  <td data-for="filename"><%= f.file_field :attachment, multiple: true  %></td>
  <!-- <td data-for="filename"><%= file_field_tag "file" %></td> -->
  <td data-for="notes"><%= f.text_field :notes, class: 'form-control form-control-sm' %></td>
  <td><%= link_to_remove_association "Delete File", f, class: 'delete_attachment btn btn-danger btn-sm',
  data: {confirm:
'Should you proceed to delete, you will lose this document of the student. This action is not reversible.
Please confirm that you would like to delete by clicking OK.'}%></td>
</tr>