<div class="nested-fields">
  <div class="card border-secondary mb-3">
    <div class="card-body">
      <div class="form-group row">
        <div class="col-6">
          <%= f.label :internship_company_id, 'Internship company' %>
          <%= f.collection_select :internship_company_id, InternshipCompany.all, :id, :name,
                                                                    {prompt: "Select a company..."}, class: 'form-control form-control-sm'%>
        </div>
        <div class="col-6">
          <%= f.label :internship_supervisor_id, 'Internship supervisor' %>
          <%= f.collection_select :internship_supervisor_id, InternshipSupervisor.all, :id, :name,
                                                                       {prompt: "Select a supervisor..."}, class: 'form-control form-control-sm'%>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6">
          <%= f.label :from_date %>
          <%= datepicker_input f, :from_date %>
        </div>
        <div class="col-6">
          <%= f.label :to_date %>
          <%= datepicker_input f, :to_date %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <%= f.label :comments, 'Add comments' %>
          <%= f.text_area :comments, class: 'form-control form-control-sm', rows: 3 %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <%= link_to_remove_association "Delete Internship", f, class: 'btn btn-danger btn-sm float-right' %>
        </div>
      </div>
    </div>
  </div>
</div>
