<tr class="nested-fields">
  <td data-for="school_name"><%= f.text_field :school_name, class: 'form-control form-control-sm' %></td>
  <td data-for="from_date"><%= datepicker_input f, :from_date %></td>
  <td data-for="to_date"><%= datepicker_input f, :to_date %></td>
  <td data-for="qualification"><%= f.text_field :qualification, class: 'form-control form-control-sm' %></td>
  <td data-for="highest_qualification"><%= f.check_box :highest_qualification, class: 'form-control form-control-sm' %></td>
  <td><%= link_to_remove_association "Delete Record", f, class: 'delete_past_education_record btn btn-danger btn-sm',
                                                         data: {confirm:
  'Should you proceed to delete, you will lose this Past Education Record of the student. This action is not reversible.
Please confirm that you would like to delete by clicking OK.'} %></td>
</tr>
