<div class="nested-fields col-md-6">
  <div class="card bg-light">
    <h4 class="card-header">Parent/Guardian</h4>
    <div class="card-body">
      <div class="form-row">

        <div class="form-group col-md-6">
          <%= f.label :relationship, class: 'col-form-label required-field' %>
          <%= f.text_field :relationship, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :salutation, class: 'col-form-label' %>
          <%= f.text_field :salutation, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :surname, class: 'col-form-label' %>
          <%= f.text_field :surname, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :given_name, 'Given Name', class: 'col-form-label' %>
          <%= f.text_field :given_name, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :home_number, 'Home Number', class: 'col-form-label' %>
          <%= f.text_field :home_number, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :handphone_number, 'Handphone Number', class: 'col-form-label' %>
          <%= f.text_field :handphone_number, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :office_number, 'Office Number', class: 'col-form-label' %>
          <%= f.text_field :office_number, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :email, 'Email', class: 'col-form-label' %>
          <%= f.text_field :email, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-12">
          <%= f.label :address, class: 'col-form-label' %>
          <%= f.text_area :address, rows: 3, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :postal_code, 'Postal Code', class: 'col-form-label' %>
          <%= f.text_field :postal_code, class: 'form-control form-control-sm' %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :race, class: 'col-form-label' %>
          <%= f.text_field :race, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :dialect, class: 'col-form-label' %>
          <%= f.text_field :dialect, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :languages_spoken, 'Languages Spoken', class: 'col-form-label' %>
          <%= f.text_field :languages_spoken, class: 'form-control form-control-sm' %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :id_type, 'ID Type', class: 'col-form-label' %>
          <%= f.select :id_type, PointOfContact.id_types.keys, {prompt: 'Select ID Type'}, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :id_number, 'ID Number', class: 'col-form-label' %>
          <%= f.text_field :id_number, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :date_of_birth, 'Date of Birth', class: 'col-form-label' %>
          <%= datepicker_input f, :date_of_birth %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :place_of_birth, 'Place of Birth', class: 'col-form-label' %>
          <%= f.text_field :place_of_birth, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :nationality, class: 'col-form-label' %>
          <%= f.text_field :nationality, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :occupation, class: 'col-form-label' %>
          <%= f.text_field :occupation, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-12">
          <%= link_to_remove_association "Delete Contact", f, class: 'delete_contact_record btn btn-danger btn-sm float-right',
          data: {confirm:
'Should you proceed to delete, you will lose this Contact Record of the student. This action is not reversible.
Please confirm that you would like to delete by clicking OK.'} %>
        </div>
      </div>
    </div>
  </div><br>
</div>
