<div class="nested-fields">
  <div class="card border-secondary mb-3">
    <div class="card-body">
      <div class="form-row">
        <%= f.hidden_field :user_id %>
        <div class="form-group col-md-4">
          <%= f.label :event_date, 'Event Date', class: 'col-form-label' %>
          <%= f.text_field :event_date, value: Date.today, :data =>
              {:provide => 'datepicker', 'date-format' => 'dd/mm/yyyy', 'date-autoclose' => 'true', 'date-orientation' => 'bottom auto'},
                           class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :category, 'Category', class: 'col-form-label' %>
          <%= f.select :category, Remark.categories.invert, {include_blank: true, required: true}, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :user_id, 'Posted by', class: 'col-form-label' %><br>
          <%= f.text_field :user_id, value: f.object.try(:user).try(:name), class: 'form-control-plaintext form-control-sm', readonly: true %>
        </div>

        <div class="form-group col-md-12">
          <%= f.label :details, class: 'col-form-label' %>
          <%= f.text_area :details, autofocus: true, class: 'form-control', rows: 3 %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= link_to_remove_association "Delete Record", f, class: 'btn btn-danger btn-sm float-right' %>
        </div>
      </div>
    </div>
  </div>
</div>

