<div class="nested-fields">
  <div class="card border-secondary mb-3">
    <div class="card-body">
      <div class="form-group row">
        <div class="col-4">
          <%= f.label :event_date, 'Event Date' %>
          <%= f.text_field :event_date, value: Date.today, :data =>
              {:provide => 'datepicker', 'date-format' => 'dd/mm/yyyy', 'date-autoclose' => 'true', 'date-orientation' => 'bottom auto'},
                           class: 'form-control form-control-sm' %>
        </div>

        <div class="col-4">
          <%= f.label :category, 'Category' %>
          <%= f.select :category, Remark.categories, {include_blank: true, required: true}, class: 'form-control form-control-sm' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <%= f.label :details %>
          <%= f.text_area :details, autofocus: true, class: 'form-control', rows: 3 %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <%= link_to_remove_association "Delete Record", f, class: 'btn btn-danger btn-sm' %>
        </div>
      </div>
    </div>
  </div>
</div>

