<div class="card bg-light" id="student-particulars">
  <h4 class="card-header">Personal Particulars</h4>
  <div class="card-body">
    <div class="form-group row">
      <div class="student-profile mx-4">
        <div class="preview">
          <%= cl_image_tag(@student.image_id, :crop => 'fill', :width => 150, :height => 150) %>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"></div>
          </div>
        </div>

        <span class="btn btn-success student-upload-button w-100">
          <span><i class="fa fa-plus"></i> Upload Photo</span>
          <%= cl_image_upload_tag :image_id %>
        </span>
      </div>

      <div class="col row">
        <div class="form-group col-md-4">
          <%= f.label :given_name, 'Given Name', class: "required-field" %>
          <%= f.text_field :given_name, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :surname, class: "col-form-label required-field" %>
          <%= f.text_field :surname, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :date_of_birth, 'Date of Birth', class: "col-form-label required-field" %>
          <%= datepicker_input f, :date_of_birth %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :place_of_birth, 'Place of Birth', class: "col-form-label required-field" %>
          <%= f.text_field :place_of_birth, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :race, class: "col-form-label required-field" %>
          <%= f.text_field :race, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :nric, 'NRIC', class: "col-form-label required-field" %>
          <%= f.text_field :nric, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :citizenship, class: "col-form-label required-field" %>
          <%= f.text_field :citizenship, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :gender, class: "col-form-label required-field" %>
          <%= f.select :gender, Student.genders.keys.map {|s| [s.titleize, s]}, {prompt: 'Select Gender'}, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :sadeaf_client_reg_no, 'SADeaf Client Registration No.', class: 'col-form-label' %>
          <%= f.text_field :sadeaf_client_reg_no, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :tshirt_size, 'T-shirt Size', class: 'col-form-label' %>
          <%= f.select :tshirt_size, Student.tshirt_sizes.keys, {prompt: 'Select t-shirt size'}, class: 'form-control form-control-sm' %>
        </div>
      </div>
    </div>
  </div>
</div>
