<h5>Admission Details</h5>

<div class="form-group row">

  <div class="col-6">
    <%= f.label :admission_year, 'Admission Year' %>
    <%= f.text_field :admission_year, autofocus: true, class: 'form-control' %>
  </div>

  <div class="col-6">
    <%= f.label :admission_no, 'Admission No.' %>
    <%= f.text_field :admission_no, autofocus: true, class: 'form-control' %>
  </div>

  <div class="col-6">
    <%= f.label :registered_at, 'Date of Registration' %>
    <%= f.date_field :registered_at, autofocus: true, value: Date.today, class: 'form-control' %>
  </div>

  <div class="col-6">
    <%= f.label :current_class, 'Current Class' %>
    <%= f.text_field :current_class, autofocus: true, class: 'form-control' %>
  </div>

  <div class="col-6">
    <%= f.label :status %>
    <%= f.select :status, Student.statuses.keys, {selected: 'new_admission'}, class: 'form-control' %>
  </div>

</div>

<br>

<h5>Referral Details</h5>

<div class="form-group row">

  <div class="col-6">
    <%= f.label :referred_by, 'Referred By' %>
    <%= f.select :referred_by, Student.institutions.keys, {prompt: 'Select Institution'}, class: 'form-control' %>
  </div>

  <div class="col-6">
    <%= f.label :referral_notes, 'Name of Referee' %>
    <%= f.text_field :referral_notes, autofocus: true, class: 'form-control' %>
  </div>

</div>

<br>

<h5>Student Particulars</h5>

<div class="form-group row">

  <div class="col-6">
    <%= f.label :given_name, 'Given Name' %>
    <%= f.text_field :given_name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="col-6">
    <%= f.label :surname %>
    <%= f.text_field :surname, autofocus: true, class: 'form-control' %>
  </div>

  <div class="col-6">
    <%= f.label :date_of_birth, 'Date of Birth' %>
    <%= f.date_field :date_of_birth, autofocus: true, class: 'form-control' %>
  </div>

  <div class="col-6">
    <%= f.label :place_of_birth, 'Place of Birth' %>
    <%= f.text_field :place_of_birth, autofocus: true, class: 'form-control' %>
  </div>

  <div class="col-6">
    <%= f.label :race %>
    <%= f.text_field :race, autofocus: true, class: 'form-control' %>
  </div>

  <div class="col-6">
    <%= f.label :nric, 'NRIC' %>
    <%= f.text_field :nric, autofocus: true, class: 'form-control' %>
  </div>

  <div class="col-6">
    <%= f.label :citizenship %>
    <%= f.text_field :citizenship, autofocus: true, class: 'form-control' %>
  </div>

  <div class="col-6">
    <%= f.label :gender %>
    <%= f.select :gender, Student.genders.keys, {prompt: 'Select Gender'}, class: 'form-control' %>
  </div>

  <div class="col-6">
    <%= f.label :sadeaf_client_reg_no, 'SADeaf Client Registration No.' %>
    <%= f.text_field :sadeaf_client_reg_no, autofocus: true, class: 'form-control' %>
  </div>

  <div class="col-6">
    <%= f.label :highest_standard_passed, 'Highest Standard Passed' %>
    <%= f.text_field :highest_standard_passed, autofocus: true, class: 'form-control' %>
  </div>

  <div class="col-6">
    <%= f.label :medication_needed, 'Medication Needed' %>
    <%= f.text_field :medication_needed, autofocus: true, class: 'form-control' %>
  </div>

  <div class="col-6">
    <%= f.label :allergies %>
    <%= f.text_field :allergies, autofocus: true, class: 'form-control' %>
  </div>

</div>

<div class="form-group row">
  <div class="col-4"><%= f.submit :class => 'btn btn-primary' %></div>
</div>
