<div class="row">
  <ul class="nav nav-pills mb-3" id="student-form-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="admission-tab" data-toggle="pill" href="#admission" role="tab" aria-controls="admission" aria-expanded="true">Admission Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="student-particulars-tab" data-toggle="pill" href="#student-particulars" role="tab" aria-controls="student-particulars" aria-expanded="true">Student Particulars</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="past-educations-tab" data-toggle="pill" href="#past-educations" role="tab" aria-controls="past-educations" aria-expanded="true">Past Education Records</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contacts-tab" data-toggle="pill" href="#contacts" role="tab" aria-controls="contacts" aria-expanded="true">Parent/Guardian Particulars</a>
    </li>
    </li>
  </ul>
</div>

<div class="row">
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="admission" role="tabpanel" aria-labelledby="admission-tab">
      <%= render '/students/shared/admission_details', f: f %>
    </div>
    <div class="tab-pane fade" id="student-particulars" role="tabpanel" aria-labelledby="student-particulars-tab">
      <%= render '/students/shared/student_particulars', f: f %>
    </div>
    <div class="tab-pane fade" id="past-educations" role="tabpanel" aria-labelledby="past-educations-tab">
      <%= f.fields_for :past_education_records do |past_education_record| %>
        <div class="form-group row">
          <div class="col-4">
            <%= past_education_record.label :school_name, 'School Attended' %>
            <%= past_education_record.text_field :school_name, autofocus: true, class: 'form-control' %>
          </div>

          <div class="col-2">
            <%= past_education_record.label :from_date, 'From Date' %>
            <%= past_education_record.date_field :from_date, autofocus: true, class: 'form-control' %>
          </div>

          <div class="col-2">
            <%= past_education_record.label :to_date, 'To Date' %>
            <%= past_education_record.date_field :to_date, autofocus: true, class: 'form-control' %>
          </div>

          <div class="col-4">
            <%= past_education_record.label :qualification %>
            <%= past_education_record.text_field :qualification, autofocus: true, class: 'form-control' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
      <%= f.fields_for :point_of_contacts do |contacts| %>
        <%= render '/students/shared/point_of_contact_fields', f: contacts %>
      <% end %>
      <div class='form-group row'>
        <%= link_to_add_association 'Add Parent / Guardian', f, :point_of_contacts,
                                    partial: '/students/shared/point_of_contact_fields', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="col-4">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
</div>
