<h2>Add New User</h2>

<%= form_for(@user, url: admin_users_path) do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :role %><br />
      <%= f.select(:role, User.roles.to_a) %>
    </div>

    <div class="actions">
      <%= f.submit "Create User" %>
    </div>
<% end %>
