<div class="container">
  <div class="row justify-content-end mt-5 mb-4">
    <div class="col-6 offset-md-3">
      <h3 class="text-center">Manage Medical Conditions</h3>
    </div>
    <div class="col-3 text-right">
      <%= link_to '<i class="fa fa-plus"></i> Add Medical Condition'.html_safe, new_medical_condition_path, class: "btn btn-primary" %>
    </div>
  </div>

<table class="table table-bordered">
  <thead class="table-primary">
    <tr>
      <th>Medical Condition</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="bg-white">
  <% @resources.each do |condition| %>
    <tr id="medical-condition-<%= condition.id %>">
      <td><%= link_to "#{condition.title}", edit_medical_condition_path(condition), class: 'edit_medical_condition' %></td>
      <td><%= condition.created_at %></td>
      <td>
        <%= link_to 'Delete', medical_condition_path(condition), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete_medical_condition btn btn-danger" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
