<h3 class="text-center m-4">Student Reports</h3>

<div class="container mb-3">
  <div class="form-row">
    <%= form_for(@report, path: reports_path, method: 'get',  html: { class: 'form-group row justify-content-center' } ) do |f| %>
      <div class="form-group col-md-1">
        <%= f.label :age, 'Age', class: 'col-form-label' %>
        <%= f.select(:age, (13..30).map{|v| [v,v]}, { class: 'form-control form-control-sm' }, { multiple: true }) %>
      </div>
      <div class="form-group col-md-1">
        <%= f.label :gender, 'Gender', class: 'col-form-label' %>
        <%= f.select(:gender, ['Male', 'Female'], { class: 'form-control form-control-sm' }, { multiple: true }) %>
      </div>
      <div class="form-group col-md-2">
        <%= f.label :nationality, 'Nationality', class: 'col-form-label' %>
        <%= f.select(:nationality, options_for_select(Nationality::Nationality.default_option('Singaporean'), :selected => f.object.nationality), { class: 'form-control form-control-sm' }, { multiple: true }) %>
      </div>
      <div class="form-group col-md-2">
        <%= f.label :disability, 'Disability', class: 'col-form-label' %>
        <%= f.select(:disability, Disability.all.map{|d| [d.title, d.id] } , { class: 'form-control form-control-sm' }, { multiple: true } ) %>
      </div>
      <div class="form-group col-md-2">
        <%= f.label :status, 'Current Status', class: 'col-form-label' %>
        <%= f.select(:status, Student.statuses.map{|_,v| v} , { class: 'form-control form-control-sm' }, { multiple: true } ) %>
      </div>
      <div class="form-group col-md-2">
        <%= f.label :referred_by, 'Referred by', class: 'col-form-label' %>
        <%= f.select(:referred_by, Student.institutions.map{|k,v| [v, k]}, { class: 'form-control form-control-sm' }, { multiple: true }) %>
      </div>
      <div class="form-group col-md-12">
        <%= f.submit 'Search', :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to('<i class="fa fa-download"></i> Download CSV'.html_safe, reports_path(csv_download_options(params)), class: "btn btn-success") %>


<table class="table table-bordered table-sm">
  <thead class="table-primary">
    <tr>
      <th>Academic Year</th>
      <th>Class</th>
      <th>Full Name</th>
      <th>Date of Birth</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Disability</th>
      <th>Medical Condition</th>
      <th>Main Contact</th>
      <th>Status</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody class="bg-white student-list">
    <%= render partial: "students/shared/student_row", collection: @report.search_students, as: :student %>
  </tbody>
</table>
