<!DOCTYPE html>
<html>
  <head>
    <title>MVS-SMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">
        <%= image_tag('brand/logo.jpg', height: '50', width: '50', class: 'd-inline-block align-center') %>
        Mountbatten Vocational School
      </a>
    </nav>
    <div class="container-fluid">
      <%= render partial: 'shared/flash' unless flash.empty? %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
